annotated-types==0.7.0
anyio==4.7.0
argcomplete==3.5.3
bcrypt==4.2.1
beautifulsoup4==4.12.3
blivet==3.11.0
blivet-gui==2.6.0
boto3==1.37.3
botocore==1.37.3
Brlapi==0.8.5
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
crypt_r==3.13.1
cryptography==44.0.0
cupshelpers==1.0
dasbus==1.7
dbus-python==1.3.2
distlib==0.3.9
distro==1.9.0
dnf==4.22.0
dnspython==2.7.0
ecdsa==0.19.0
email_validator==2.2.0
et_xmlfile==2.0.0
fastapi==0.115.6
fastapi-cli==0.0.6
fastapi-cli-slim==0.0.7
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.16.1
fros==1.1
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.0
humanize==4.9.0
idna==3.10
iso639==0.1.4
Jinja2==3.1.4
jmespath==1.0.1
jose==1.0.0
langtable==0.0.68
libcomps==0.1.21
libdnf==0.73.4
louis==3.28.0
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
nftables==0.1
numpy==2.2.1
olefile==0.47
opcua==0.98.13
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
passlib==1.7.4
perf==0.1
pexpect==4.9.0
pid==2.2.3
pillow==11.1.0
platformdirs==4.3.6
ply==3.11
productmd==1.43
psutil==5.9.8
ptyprocess==0.7.0
pwquality==1.4.5
pyasn1==0.6.1
pycairo==1.25.1
pycparser==2.22
pycups==2.0.4
pydantic==2.10.3
pydantic_core==2.27.1
pyenchant==3.2.2
Pygments==2.18.0
PyGObject==3.48.2
pyinotify==0.9.6
PyJWT==2.10.1
pykickstart==3.58
PyMySQL==1.1.1
pyparted==3.13.0
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.3.0
python-linux-procfs==0.7.3
python-meh==0.52
python-multipart==0.0.19
python-pam==2.0.2
pytz==2024.2
pyudev==0.24.3
pyxdg==0.27
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
requests-file==2.0.0
requests-ftp==0.3.1
rich==13.9.4
rich-toolkit==0.12.0
rpm==4.20.0
rsa==4.9
s3transfer==0.11.3
setools==4.5.1
setuptools==69.2.0
shellingham==1.5.4
simpleaudio==1.0.4
simpleline==1.9.0
six==1.17.0
sniffio==1.3.1
sos==4.8.2
soupsieve==2.6
SQLAlchemy==2.0.36
starlette==0.41.3
systemd-python==235
typer==0.15.1
typer-cli==0.13.1
typer-slim==0.13.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.20
uvicorn==0.32.1
uvloop==0.21.0
virtualenv==20.28.0
watchfiles==1.0.0
websockets==14.1
wheel==0.43.0
xkbregistry==0.3